button:focus {outline:0 !important;}

#videoElement {
    width: 320px;
    height: 240px;
}
#videoContainer {
    /* margin: 0px auto; */
    width: 330px;
    height: 250px;
    border: 5px #333 solid;
    position: relative;
    left: 1400px;
    top: -700px;

}